name: Ruby CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.7
          - 3.0
          - 3.1
          - 3.2
          - jruby
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.version }}
      - name: Run Tests
        run: bundle exec rake test
